apiVersion: v2
name: voyager-gateway
description: The Helm chart for Voyager Gateway
type: application
version: v2025.1.15
appVersion: v1.6.1
maintainers:
- name: appscode
  email: support@appscode.com
keywords:
- gateway-api
- envoyproxy
- envoy-gateway
- eg
home: https://gateway.voyagermesh.com/
sources:
- https://github.com/voyagermesh/gateway
dependencies:
- name: gateway-converter
  repository: file://../gateway-converter
  condition: gateway-converter.enabled
  version: v2024.8.30
- name: crd-manager
  repository: file://../crd-manager
  condition: crd-manager.enabled
  version: v2026.1.15
