{{- $major := default "0" .Capabilities.KubeVersion.Major | trimSuffix "+" | int64 }}
{{- $minor := default "0" .Capabilities.KubeVersion.Minor | trimSuffix "+" | int64 }}
{{- $criticalAddon := and .Values.criticalAddon (or (eq .Release.Namespace "kube-system") (and (ge $major 1) (ge $minor 17))) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "voyager.fullname" . }}-operator
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "voyager.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      voyager.appscode.com/component: operator
      {{- include "voyager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        voyager.appscode.com/component: operator
        {{- include "voyager.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/apiregistration.yaml: {{ include (print $.Template.BasePath "/apiregistration.yaml") . | sha256sum }}
      {{- if $criticalAddon }}
        scheduler.alpha.kubernetes.io/critical-pod: ''
      {{- end }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- include "appscode.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "voyager.serviceAccountName" . }}
      containers:
      - name: operator
        {{- if eq "true" ( include "distro.openshift" . ) }}
        securityContext:
          {{- toYaml (omit .Values.operator.securityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 10 }}
        {{- else }}
        securityContext:
          {{- toYaml .Values.operator.securityContext | nindent 10 }}
        {{- end }}
        image: {{ list (include "operator.registry" .) .Values.operator.repository | compact | join "/" }}:{{ .Values.operator.tag | default .Chart.AppVersion }}{{ include "operator.ubi" . }}
        imagePullPolicy: {{ .Values.imagePullPolicy  }}
        args:
        - operator
        - --cloud-provider={{ .Values.cloudProvider }}
        - --cloud-config={{ .Values.cloudConfig }}
        - --v={{ .Values.logLevel }}
        - --ingress-class={{ .Values.ingressClass }}
        - --haproxy-image={{ list (include "haproxy.registry" .) .Values.haproxy.repository | compact | join "/" }}:{{ .Values.haproxy.tag }}
        - --coordinator-image={{ list (include "operator.registry" .) .Values.operator.repository | compact | join "/" }}:{{ .Values.operator.tag | default .Chart.AppVersion }}
        - --bypass-validating-webhook-xray={{ .Values.apiserver.bypassValidatingWebhookXray }}
        - --use-kubeapiserver-fqdn-for-aks={{ .Values.apiserver.useKubeapiserverFqdnForAks }}
      {{- if .Values.templates.cfgmap }}
        - --custom-templates=/srv/voyager/custom/*.cfg
      {{- end }}
      {{- if include "appscode.license" . }}
        - --license-file=/var/run/secrets/appscode/license/key.txt
      {{- end }}
        ports:
        - containerPort: 8443
        - containerPort: 56791
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          {{- toYaml .Values.operator.resources | nindent 10 }}
        volumeMounts:
        - mountPath: /var/serving-cert
          name: serving-cert
        - mountPath: /tmp
          name: tmp-dir
      {{- if .Values.persistence.enabled }}
        - mountPath: {{ dir .Values.cloudConfig | quote }}
          name: cloudconfig
          readOnly: true
      {{- end }}
      {{- if .Values.templates.cfgmap }}
        - mountPath: /srv/voyager/custom
          name: templates
          readOnly: true
      {{- end }}
      {{- if include "appscode.license" . }}
        - mountPath: /var/run/secrets/appscode/license
          name: license
      {{- end }}
      volumes:
      - name: serving-cert
        secret:
          defaultMode: 420
          secretName: {{ include "voyager.fullname" . }}-apiserver-cert
      - name: tmp-dir
        emptyDir: {}
    {{- if .Values.persistence.enabled }}
      - hostPath:
          path: {{ .Values.persistence.hostPath | quote }}
        name: cloudconfig
    {{- end }}
    {{- if .Values.templates.cfgmap }}
      - configMap:
          name: {{ .Values.templates.cfgmap }}
        name: templates
    {{- end }}
    {{- if include "appscode.license" . }}
      - name: license
        secret:
          defaultMode: 420
          secretName: {{ include "voyager.fullname" . }}-license
    {{- end }}
      {{- if eq "true" ( include "distro.openshift" . ) }}
      securityContext:
        {{- toYaml (omit .Values.podSecurityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 8 }}
      {{- else }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
    {{- if or .Values.tolerations $criticalAddon }}
      tolerations:
      {{- with .Values.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if $criticalAddon }}
        - key: CriticalAddonsOnly
          operator: Exists
      {{- end -}}
    {{- end -}}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if $criticalAddon }}
      priorityClassName: system-cluster-critical
    {{- end -}}
